<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ImpfBot</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/Contact-Form-Clean.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/styles.css') }}">
</head>

<body>
    <section class="contact-clean">
        <form method="post">
            <h2 class="text-center">Gib deine Daten ein</h2>
            <p class="text-center">Gegen 17:30 hast du erfahrungsgemäß die beste Chance<p>
            <div class="form-group"><input class="form-control" type="date" name="geb" placeholder="Geburtstag" value = "{{ geb }}"></div>
            <div class="form-group"><input class="form-control" type="number" name="plz" placeholder="PLZ" value = "{{ plz }}"></div>
            <div><p>Den Rest kannst du erstmal leer lassen. Die folgenden Daten sind erst in den kommenden Versionen relevant.</p></div>
            <div class="form-group"><input class="form-control" type="text" name="firstname" placeholder="Vorname" value = "{{ firstname }}"></div>
            <div class="form-group"><input class="form-control" type="text" name="lastname" placeholder="Nachname" value = "{{ lastname }}"></div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col"><input class="form-control" type="text" name="str" placeholder="Straße" style="width: 281px;" value = "{{ str }}" ></div>
                    <div class="col"><input class="form-control" type="text" name="hausnr" placeholder="Nummer" value = "{{ hausnr }}" ></div>
                </div>
            </div>
            <div class="form-group"><input class="form-control" type="email" name="mail" placeholder="Email" value = "{{ mail }}"></div>
            <div class="form-group"><input class="form-control" type="tel" name="tel" placeholder="Telefon" value = "{{ tel }}"></div>
            <div class="form-group">
                <div class="form-row">
                    <div class="form-group"><button class="btn btn-primary" type="submit">Speichern&nbsp;</button></div>
                    <div class="form-group"><button class="btn btn-primary" onclick="location.href='/start';" style="margin-left: 50px;" type="button">Los geht's&nbsp;</button></div>
                </div>
            </div>
        </form>
    </section>
    <script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
</body>

</html>